.wrapper-pd {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media (max-width: 768px) {
  .wrapper-pd {
    grid-template-columns: auto;
  }
}

.group-images {
  width: 89px;
  margin: 0 10px;
}

@media (max-width: 1274px) {
  .group-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 289px;
    grid-row: 2 / 3;
    margin: 0px;
  }
}

.image-wrapper {
  padding: 10px;
  transition: 0.4s ease-in-out;
  transform: scale(1);
  display: grid;
  gap: 30px 0;
}

.image-wrapper:hover {
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  transform: scale(1.1);
}

.image-pd {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.active-image-wrapper {
  width: 620px;
  padding: 10px;
  height: 511px;
  margin: 0 10px;
}

@media (max-width: 1274px) {
  .active-image-wrapper {
    width: 270px;
    height: auto;
    margin: 0px;
  }
}

.image-pd-active {
  width: 100%;
  height: 521px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .image-pd-active {
    height: 200px;
  }
}

.content-pd {
  width: 292px;
  height: 595px;
}

.title-pd {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}

.category-pd {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin-top: 20px;
}

.section-title-pd {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  margin-top: 20px;
}

.colors-pd {
  display: flex;
}

.color-pd {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  transition: 0.4s ease-in-out;
  transform: scale(1);
  outline: 1px solid #1d1f22;
}

.color-pd:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.selectedColor-pd {
  outline: 3px solid #5ece7b !important;
  border: 1px solid #fff;
}

.capacity-pd {
  min-width: 32px;
  height: 32px;
  margin-right: 10px;
  background: #fff;
  color: #2b2b2b;
  transition: 0.4s ease-in-out;
  transform: scale(1);
  outline: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.capacity-pd:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.selected-pd {
  background-color: #2b2b2b !important;
  color: #fff !important;
}

.price-pd {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
  margin-top: 20px;
}

.add-to-cart-pd {
  width: 292px;
  height: 52px;
  background: #5ece7b;
  padding: 16px 32px;
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin: 20px 0;
  transition: 0.4s ease-in-out;
  transform: scale(1);
}

.add-to-cart-pd:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1274px) {
  .add-to-cart-pd {
    width: 192px;
  }
}
