.container-co {
  padding: 0px 16px 32px;
  position: absolute;
  width: 325px;
  max-height: 77vh;
  right: 0px;
  top: 51px;
  background: #FFF;
  z-index: 1000;
  overflow-y: auto;
}

.wrapper-co {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.item-quantity-co {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;  
  color: #1D1F22;
}

.bold-co {
    font-weight: 800;
}

.empty-cart-co {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price-co {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-co {
  color: #1D1F22;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.price-co {
  color: #1D1F22;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.buttons-co {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-button-co {
  width: 48%;
  cursor: pointer;
}

.view-bag-co {
  background: #FFF;
  border: 1px solid #000;
  color: #000;
  font-weight: 700;
  letter-spacing: .75px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  transition: .4s ease-in-out;
  transform: scale(1);
}

.view-bag-co:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.right-button-co {
  width: 48%;
}

.check-out-co {
  background: #52d67a;
  border: 1px solid #52d67a;
  color: #FFF;
  font-weight: 700;
  letter-spacing: .75px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  transition: .4s ease-in-out;
  transform: scale(1);
}

.check-out-co:hover {
  cursor: pointer;
  transform: scale(1.1);
}
