.section-cs {
  background-color: hsla(0,0%,100%,0);
  height: 198px;
  width: 0;
  position: absolute;
  top: 51.5px;
  right: 100px;
  z-index: 20;
}

.select-cs {
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 19px 5px hsla(214,7%,80%,.261);
  height: auto;
  margin-left: auto;
  margin-right: 50px;
  width: 120px;
}

.option-cs {
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  transition: .3s;
}

.option-cs:hover {
  background: #F1F1F1;
}
