.active {
  text-transform: uppercase;
  color: #52d67a !important;
}

.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #52d67a;
  border-radius: 500px;
}
