.container-p {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  gap: 130px;
  width: 80%;
  margin: auto;
}

@media (min-width: 768px) {
  .container-p {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1131px) {
  .container-p {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.cart-wrapper-p {
  width: 315px;
  height: 365px;
  padding: 10px;
  position: relative;
  transition: .4s ease-in-out;
}

.cart-wrapper-p:hover {
  background: #FFF;
  cursor: pointer;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.cart-wrapper-p:hover .cart-icon-p {
  opacity: 1;
}

.wrapper-p {
  height: 250px;
  position: relative;
}

.image-p {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-p {
  width: 100%;
}

.content-title-p {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  color: #1d1f22;
  margin-top: 20px;
}

.content-price-p {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: #1d1f22;
  margin-bottom: 10px;
}

.cart-icon-p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #52d67a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 85px;
  opacity: 0;
  transition: 0.4s ease-in-out;
  transform: scale(1);
}

.cart-icon-p:hover {
  transform: scale(1.1);
}

.cart-p {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.out-of-stock-p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #8d8f9a;
}
